* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}





/* HEADER */
.header-container {
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0;
}

.header-content {
    position: relative;
    margin: 10px;
    display: grid;
    grid-template-areas:
        'name menu'
        'title menu'
    ;
    z-index: 1;
}

.header-name {
    grid-area: name;
    font-size: 5vw;
    font-weight: bolder;
}

.header-page-title {
    grid-area: title;
    font-style: italic;
    font-size: 4vw;
    color: #143d19;
}

.header-menu-logo {
    grid-area: menu;
    position: absolute;
    right: 0px;
    width: 7vw;
    z-index: 2;
}

/* HEADER MENU */
.header-menu {
    position: absolute;
    top: -35vh;
    background-color: rgb(189, 208, 187);
    width: 100vw;
    height: 25vh;
    font-size: 2.8vw;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    z-index: 1;

    transition: transform .5s;
}

.animation-open-menu-header {
    transform: translateY(35vh);
}

/* HOME PAGE */
.home-nav a:visited {
    text-decoration: none;
    color: white;
}

.home-content {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2vh;

    color: white;

    height: 98vh;
}

#home-background-video {
    position: fixed;
    z-index: 1;
}

.name {
    font-weight: bolder;
    font-size: 9vw;
    margin: 0px 5vw;
}

.title {
    font-size: 2vw;
    font-style: italic;
}

.home-nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 2.5vw;
    gap: 2vh;
}






/* PROJECTS PAGE */
.projects-list {
    position: relative;
    z-index: 0;
    margin-top: 10vw;
}

.project {
    margin-bottom: 10vw;
}

.project-info {
    display: grid;
    grid-template-areas: 
    'name date'
    'medium medium'
    'about about';
    margin: 4vw 10px;
}

.project-name {
    grid-area: name;
    font-size: 5vw;
    align-self: center;
    font-weight: bold;
    color: #133d18;
}

.project-date {
    grid-area: date;
    justify-self: end;
    align-self: center;
    margin-top: 2px;
    font-size: 3.5vw;
}

.project-medium {
    grid-area: medium;
    font-style: italic;
    color: rgba(0, 0, 0, 0.573);
}

.project-about {
    grid-area: about;
    margin-top: 5px;
}


/* projects swiper */
.swiper-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

swiper-slide {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

swiper-container {
    width: 95vw;
    height: 54vh;
    max-height: 120vw;
    margin-bottom: 2vw;
}




/* ABOUT PAGE */
.profilePic-container {
    position: relative;
    margin-top: 18vw;
    width: 100vw;
    /* height: 145vw; */
    background-color: #196d2012;
    padding-bottom: .1vw;
}

.profilePic {
    width: 100vw;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.about-me-header {
    position: absolute;
    top: 99vw;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: .5px rgba(59, 74, 54, 0.24) solid;;
    border-radius: 20px;

    width: 60vw;
    height: 20vw;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}
.about-me-header-logo {
    margin-bottom: 2vw;
    width: 15vw;
}
.about-me-header-name {
    font-size: 4vw;
    font-weight: bold;
    color: #133d18;
}
.about-me-header-title {
    font-size: 3vw;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.576);
}

.about-me-container {
    margin: 12vw 5vw 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.about-me-container-title {
    font-size: 3.5vw;
    font-weight: bold;
    color: #133d18;
}
.about-me-container-content {
    font-size: 3.2vw;
    font-weight: lighter;
    color: #133d18;
}

.quote-container {
    padding: 25px 25px;
    background-color: #124d17a6;
    /* background-image: linear-gradient(#196d2012, #196d2059); */
    color: rgb(255, 255, 255);
    /* margin-top: 5px; */
}
.quote-container-quote {
    font-size: 10vw;
    text-align: center;
}
.quote-container-author {
    font-size: 5vw;
    margin-top: 19px;
    text-align: center;
}


.video-container {
    padding: 20px 0;
    background-color: #196d2012;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.video-container-header {
    font-size: 3.5vw;
    font-weight: bold;
    color: #133d18;
    margin: 0 5vw;
}
.video-container-video {
    width: 100vw;
    height: 300px;
}
.video-container-credit {
    font-size: 3vw;
    margin: -2vw 2vw;
    align-self: flex-end;
    font-style: italic;
}





@media screen and (orientation: portrait) {
    html {
        height: 101%;
    }

    #home-background-video {
        height: 202vh;
        overflow: hidden;
    }
}

@media screen and (orientation: landscape) {
    #home-background-video {
        width: 100vw;
    }
}