* {
    font-family: Helvetica, sans-serif;
    color: #B47B84;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}





/* HEADER */
.header-container {
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0;
}

.header-content {
    position: relative;
    margin: 10px;
    display: grid;
    grid-template-areas:
        'name menu'
        'title menu'
    ;
    z-index: 1;
}

.header-name {
    grid-area: name;
    font-size: 5vw;
    font-weight: bolder;
}

.header-page-title {
    grid-area: title;
    font-style: italic;
    font-size: 4vw;
    color: #143d19;
}

.header-menu-logo {
    grid-area: menu;
    position: absolute;
    right: 0px;
    width: 7vw;
    z-index: 2;
}


/* HEADER MENU */
.header-menu {
    position: absolute;
    top: -35vh;
    background-color: #fbe4e4;
    width: 100vw;
    height: 25vh;
    font-size: 2.8vw;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    z-index: 1;

    transition: transform .5s;
}

.animation-open-menu-header {
    transform: translateY(35vh);
}

.header-nav {
    display: none;
}

/* HOME PAGE */
.home-nav a:visited {
    text-decoration: none;
    color: white;
}

.home-content {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2vh;

    color: white;

    height: 98vh;
}

#home-background-video {
    position: fixed;
    z-index: 1;
}

.name {
    font-weight: bolder;
    font-size: 9vw;
    margin: 0px 5vw;
}

.title {
    font-size: 2vw;
    font-style: italic;
}

.home-nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 2.5vw;
    gap: 2vh;
}






/* PROJECTS PAGE */
.projects-list {
    position: relative;
    z-index: 0;
    margin-top: 10vw;
}

.project {
    margin-bottom: 10vw;
}

.project-desktop {
    display: none;
}

.project-info {
    display: grid;
    grid-template-areas:
        'name date'
        'medium medium'
        'about about';
    margin: 4vw 10px;
}

.project-name {
    grid-area: name;
    font-size: 5vw;
    align-self: center;
    font-weight: bold;
    color: #133d18;
}

.project-date {
    grid-area: date;
    justify-self: end;
    align-self: center;
    margin-top: 2px;
    font-size: 3.2vw;
}

.project-medium {
    grid-area: medium;
    font-style: italic;
    font-size: 3.2vw;
    color: rgba(0, 0, 0, 0.573);
}

.project-about {
    grid-area: about;
    margin-top: 5px;
    font-size: 3.2vw;
    font-weight: lighter;
}


/* projects swiper */
.swiper-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

swiper-slide {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

swiper-container {
    width: 95vw;
    height: 54vh;
    max-height: 120vw;
    margin-bottom: 2vw;
}




/* ABOUT PAGE */
.about-me {
    position: relative;
    margin-top: 18vw;
}

.about-me-font-color {
    color: #5E6E5E;
}

.profilePic {
    width: 100dvw;
    height: 50dvh;
    object-fit: cover;
}

.about-me-container {
    position: relative;
    padding: 7vw;
    font-size: 1vw;
    line-height: 5vw;
}

.about-me-container-title {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 2vw;
    margin-top: 6vw;
}

.about-me-container-content {
    font-size: 2.5em;
    font-weight: lighter;
    text-align: center;

    margin-bottom: 6vw;
}

.about-me-container hr {
    position: absolute;
    width: 50%;
    margin: 0 auto;
}
.about-me-container hr.about-me-hr-top {
    top: 5%;
    right: 0;
    transform: translateX(-50%);
}
.about-me-container hr.about-me-hr-bottom {
    bottom: 5%;
    right: 0;
    transform: translateX(-50%);
}

.about-me-about {
    background-color: #D5E8D4;
}

.about-me-art {
    background-color: #EAECCC;
}

.about-me-art-display {
    overflow: hidden;
}

.about-me-art-display-pic {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.image-animation {
    animation: imagePan 5s;
    animation-timing-function: linear;
}
@keyframes imagePan {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.11);
    }
}

.about-me-art a {
    display: block;
    text-align: center;
    font-size: 3.5vw;
    width: 40vw;
    margin: 2vw auto 6vw;
    color: #b47b84c7;
}

.about-me-art a:hover {
    color: #b47b847d;
}

.about-me-art-content {
    margin-bottom: 2vw;
}



/* .about-me-header-name {
    font-size: 4vw;
    font-weight: bold;
    color: #133d18;
}

.about-me-header-title {
    font-size: 3vw;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.576);
} */


.quote-container {
    background-color: #f8e3e2a7;
    color: rgb(255, 255, 255);
    padding: 5dvh;
}

.quote-container-child {
    position: relative;
    display: flex;
    flex-direction: column;
    border: solid .5px;
}

.quote-container-quotationmark {
    width: 11vw;
    opacity: 70%;
}

.quote-container-quotationmark-open {
    position: absolute;
    top: -10%;
    margin-bottom: auto;
}

.quote-container-quotationmark-close {
    align-self: flex-end;
    transform: scaleY(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom: -10%;

    margin-top: auto;
}

.quote-container-quote {
    font-size: 3dvw;
    text-align: center;
    padding: 3vw;
    font-weight: lighter;
    line-height: 5vw;

    position: relative;
    top: 2dvw;

    margin-top: 3vh;
}

.quote-container-author {
    position: relative;
    right: 5vw;
    align-self: flex-end;
    font-style: italic;
    font-size: 2dvw;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 3vh;
}

.video-container {
    padding: 20px 0;
    background-color: #e4e4d0b6;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.video-container-header {
    margin-top: 4vw;
}

.video-container-credit {
    line-height: 0;
    margin-bottom: 4vw;
}

.video-container-video {
    width: 99vw;
    height: 300px;
}







@media screen and (orientation: portrait) {
    html {
        height: 101%;
    }

    #home-background-video {
        height: 202vh;
        overflow: hidden;
    }
}

@media screen and (orientation: landscape) {
    #home-background-video {
        width: 100vw;
    }
}


/* Desktop view */
@media screen and (min-width: 650px) and (orientation: landscape) {

    /* HEADER */
    .header-page-title {
        display: none;
    }

    .header-menu-logo {
        display: none;
    }

    .header-name {
        font-size: 1.5rem;
    }

    .header-nav {
        display: block;
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .header-NavLink:hover {
        color: #133d18;
        /* background-color: #B47B84; */
    }

    .header-container {
        position: sticky;
        height: 100dvh;
        width: 20dvw;
        min-width: 180px;
    }

    .header-menu {
        display: none;
    }

    .projects-list,
    .about-me {
        width: 100%;
    }

    .headerAndOutlet {
        display: flex;
        flex-direction: row;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        font-size: .7em;
        width: 15em;
        height: 97dvh;
    }

    .header-footer {
        display: block;
        text-align: center;
    }

    .outlet {
        /* width: 100%; */
        overflow-y: auto;
        margin: 0 auto;
    }



    /* Projects */
    .projects-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 0px;

    }

    .project {
        display: none;
    }

    .project-container {
        width: 100%;
    }

    .project-desktop {
        display: block;
        width: 100%;
    }

    .project-desktop-image {
        height: 15dvw;
        width: 15dvw;
        min-width: 150px;
        object-fit: cover;
    }

    .project-desktop-image:hover {
        object-fit: contain;
        transition: object-fit 2s;
    }

    .project-desktop-images {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .project-info {
        width: 70vw;
    }

    .project-info-desktop {
        width: 100%;
        margin: 15px 0px 5px;
    }

    .project-name,
    .project-date,
    .project-medium {
        font-size: .9em;
    }

    .project-desktop-detail {
        height: 95dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    swiper-container {
        width: 100%;
        height: 100%;
        margin-bottom: auto;
    }

    swiper-slide {
        align-self: center;
        min-height: 60vh;
    }

    .project-desktop-detail-header {
        margin-top: 20px;
    }

    .project-about {
        font-size: .8rem;
        text-align: center;
        color: rgb(70, 96, 55);
        /* margin-bottom: 10px; */
    }

    .project-date {
        font-size: smaller;
    }


    /* About me */
    .outlet {
        overflow: hidden;
    }

    .about-me {
        margin: 1vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
    }

    .about-me-container {
        font-size: .45vw;
        display: flex;
        justify-content: center;
        line-height: 2.2vw;
        flex-direction: column;
        padding: 0px;
    }

    .about-me-container-content {
        padding: 0 3vw;
    }

    .profilePic {
        width: 48%;
        height: 97dvh;
    }

    .about-me-about.about-me-container {
        width: 48%;
        height: 97dvh;
    }

    .about-me-art-display.profilePic {
        width: 60%;
        height: 100dvh;
    }

    .about-me-art.about-me-container {
        width: 36%;
        height: 100dvh;
    }

    .about-me-art a {
        font-size: 4.5em;
        width: 100%;

    }

    .quote-container {
        width: 87.2%;
        height: 50dvh;
        padding: 5%;
    }

    .quote-container-child {
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .quote-container-quote {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .quote-container-quotationmark {
        /* height: 16%;
        width: 10%; */
    }

    .quote-container-quotationmark-close {
        /* top: 5dvh; */
    }

    .quote-container-quotationmark-open {
        /* bottom: 5dvh; */
    }

    .video-container {
        width: 87.2%;
        height: 80dvh;
        ;
        padding: 5%;
    }

    .video-container-video {
        height: 120%;
        width: auto;
        margin-bottom: 4vh;
    }

    .about-me-container-title.video-container-header {
        margin-bottom: 0;
    }

    .about-me-container-content {
        margin-bottom: 6vw;
    }

    .video-container-header {
        margin-top: 3vh;
    }

    .about-me-container-content.video-container-credit {
        margin-bottom: 0;
    }
}